img {
  width: 150px;
}
ol {
  margin: 0;
  padding-left: 15px;
  li:not(:last-child) {
    margin-bottom: 5px;
  }
}

button {

  cursor: pointer;
  &:hover {
    background-color: var(--ant-primary-2);
  }
  &:active,
  &:focus {
    background-color: var(--ant-primary-3);
  }
}
