<ng-container *ngIf="pokemon && pokemon.id">
  <nz-content>
    <nz-page-header (nzBack)="onBack()"
                    nzBackIcon>
      <nz-page-header-title>
        <ng-container *ngIf="editMode; then nameEdit else name">
        </ng-container>
        <ng-template #nameEdit>
          <input nz-input
                 placeholder="Name"
                 [(ngModel)]="pokemon.name"
                 type="text" />
        </ng-template>
        <ng-template #name>
          {{pokemon.name}}
        </ng-template>

      </nz-page-header-title>
      <nz-page-header-extra>
        <div class="flex justify-end align-center ">
          <ng-container *ngIf="editMode; then templateButtonEdit; else templateButton"></ng-container>
          <ng-template #templateButtonEdit>
            <button class="save"
                    nz-button
                    nzShape="round"
                    nzType="primary"
                    nzSize="large"
                    nzLoading="{{loading}}"
                    (click)="onSave()">
              <span nz-icon
                    [nzType]="'save'"
                    [nzTheme]="'outline'"></span>
              Save
            </button>
          </ng-template>

          <ng-template #templateButton>
            <button nz-button
                    nzShape="round"
                    nzSize="large"
                    (click)="editMode = !editMode">
              <span nz-icon
                    [nzType]="'form'"
                    [nzTheme]="'outline'"></span>
              Edit
            </button>
          </ng-template>
        </div>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="container flex flex-column gap-2">
      <img nz-image
           nzDisablePreview="true"
           nzSrc="{{pokemon.sprites.front_default}}"
           [nzFallback]="fallback"
           width="150"
           height="150"
           alt="pokemon image">

      <nz-descriptions nzBordered>
        <nz-descriptions-item nzSpan="2"
                              nzTitle="Weight">
          <ng-container *ngIf="editMode; then weightEdit else weight "> </ng-container>
          <ng-template #weightEdit>
            <input nz-input
                   placeholder="Weight"
                   [(ngModel)]="pokemon.weight"
                   type="number" />
          </ng-template>
          <ng-template #weight>
            {{pokemon.weight}}
          </ng-template>
        </nz-descriptions-item>
        <nz-descriptions-item nzSpan="2"
                              nzTitle="Height">

          <ng-container *ngIf="editMode;then heightEdit else height">

          </ng-container>

          <ng-template #heightEdit>
            <input nz-input
                   placeholder="Hight"
                   [(ngModel)]="pokemon.height"
                   type="number" />
          </ng-template>
          <ng-template #height>
            {{pokemon.height}}
          </ng-template>
        </nz-descriptions-item>
        <nz-descriptions-item nzSpan="2"
                              nzTitle="Abilities">
          <ol>
            <ng-container *ngFor="let item of pokemon.abilities;  index as i">
              <ng-container *ngIf="editMode; then templateAbilityEdit; else templateMoveB">

              </ng-container>
              <ng-template #templateAbilityEdit>
                <li>
                  <input nz-input
                         placeholder="Ability"
                         [(ngModel)]="item.ability.name"
                         type="text" />
                </li>
              </ng-template>
              <ng-template #templateMoveB>
                <li> {{item.ability.name}}</li>
              </ng-template>
            </ng-container>
          </ol>
        </nz-descriptions-item>
        <nz-descriptions-item nzSpan="2"
                              nzTitle="Moves">
          <ol>
            <ng-container *ngFor="let item of pokemon.moves;index as i">
              <ng-container *ngIf="editMode; then templateMoveEdit else templateMove">
              </ng-container>
              <ng-template #templateMoveEdit>
                <li>
                  <input nz-input
                         placeholder="Move"
                         [(ngModel)]="item.move.name"
                         type="text" />
                </li>
              </ng-template>
              <ng-template #templateMove>
                <li> {{item.move.name}}</li>
              </ng-template>
            </ng-container>
          </ol>

        </nz-descriptions-item>
      </nz-descriptions>

    </div>

  </nz-content>

</ng-container>
