/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.variable.css";

:root {
  --max-width: 1280px;
  --padding: 20px;
}

.ant-layout {
  background: transparent;
  .ant-layout-header {
    z-index: 2;
    width: 100%;
    height: 60px;
    line-height: 1;
    background: var(--ant-primary-3);
    padding: 0 var(--padding);

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 100%;
        max-width: 100px;
        max-height: 50px;
      }
    }
    .title {
      width: 100%;
      font-weight: bold;
      font-size: 28px;
      color: var(--ant-primary-7);
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
  }
  > .ant-layout-content {
    width: 100%;
    max-width: var(--max-width);
    margin: 20px auto 0;
  }
}
.ant-list.custom {
  &:not(.ant-list-loading) {
    .ant-skeleton {
      display: none;
    }
  }
  .ant-list-items {
    --_size: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--_size), 1fr));
    gap: 20px;
    padding: 0 var(--padding);
    @media screen and (max-width: 1024px) {
      --_size: 150px;
    }
  }
  .ant-list-item {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    background: var(--ant-primary-1);
    cursor: pointer;
    .ant-avatar {
      width: 100px;
      height: 100px;
    }
    .ant-list-item-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .ant-list-item-meta-avatar {
        margin: 0;
      }
      .ant-list-item-meta-content {
        width: 100%;
        text-align: center;
      }
      .ant-list-item-meta-title {
        margin-bottom: 0;
        overflow-wrap: break-word;
      }
    }
    &:hover {
      background: var(--ant-primary-2);
    }
  }
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: var(--ant-primary-1);
}
.ant-descriptions-item-content,
.ant-descriptions-item-label {
  vertical-align: top;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
